 body, html {
     cursor: url("../cur/troll.cur"), default;
}
 body {
     background-image: url("../img/bg.gif");
     background-repeat: repeat;
 }
 a:link, a:visited {
     color: white;
     text-decoration: underline;
}
 .footer{
     position: fixed;
     text-align: center;
     bottom: 0px;
     width: 100%;
     color: white;
}
 .button {
     border: none;
     color: transparent;
}